// Reset Webkit default margin
h1, h2, h3, h4, h5, h6,
p,
ul, ol {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0;
}

a { outline: 0 }
