// Basesize to calculate margins and paddings
$basesize: 8px;

// Adaptive screen sizes
$screen-lg-min: 1200px;
$screen-md-max: $screen-lg-min - 1;
$screen-md-min: 992px;
$screen-sm-max: $screen-md-min - 1;
$screen-sm-min: 768px;
$screen-xs-max: $screen-sm-min - 1;

// Responsive image sizes
$image-lg: 1440px;
$image-md: $image-lg / 2;
$image-sm: $image-md / 2;
$image-xs: $image-sm / 2;



@import "bourbon/bourbon";
@import "normalize/normalize";
@import "base";
@import "color";
@import "typography";
@import "layout";
@import "cursor";
